.header {
  margin-top: 120px;
}

.selection-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  gap: 2rem;
  padding: 0.1rem;
  margin-top: 2rem;
}

.selection-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.selection-input {
  background-color: #3b4877;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.selection-input::placeholder {
  color: #0f1b46;
  font-weight: 500;
}

.selection-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #51e08a;
}

.start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1.2rem;
  font-size: 1rem;
  color: black;
  width: 350px;
  height: 50px;
  opacity: 1;
  border-radius: 10px;
  background-color: #51e08a;
  font-size: xx-large;
  cursor: pointer;
  border: none;
  margin-top: 1rem;
}

.start-button:hover {
  background-color: #45c77a;
  transition: background-color 0.3s ease;
}

/* 📱 Version mobile */
@media (max-width: 600px) {
  .header {
    margin-top: 20px;
    padding-top: 20px;
  }

  .selection-content {
    padding: 0.5rem;
    min-height: 30vh;
    gap: 1rem;
    margin-top: 1rem;
  }

  .selection-block {
    max-width: 100%;
  }

  .selection-input {
    padding: 0.8rem;
    font-size: 1rem;
  }

  .start-button {
    width: 100%;
    max-width: 350px;
    height: 45px;
    font-size: x-large;
    margin-top: 0.5rem;
  }
}
